<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://crm-najot.herokuapp.com/image/Najot_Talim-01.png" sizes="24x24" type="image/x-icon">
    <title>  Najot ta'lim CRM</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="CreateReader.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <!-- <ion-icon name="logo-apple"></ion-icon> -->
                            <img class="iconLogo" src="https://crm-najot.herokuapp.com/image/Najot_Talim-01-removebg-preview.png" width="65" height="65" alt="">
                        </span>
                        <span class="title">Najot ta'lim crm</span>
                    </a>
                </li>

                <li>
                    <a href="admin">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Ma'lumotlar</span>
                    </a>
                </li>

                <li> 
                    <a href="teacher">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">O'qituvchi qo'shish</span>
                    </a>
                </li>

                <li  >
                    <a href="createReader">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">O'quvchi qo'shish</span>
                    </a>
                </li>

                <li  class="hovered">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Guruh yaratish</span>
                    </a>
                </li>
                <li>
                    <a href="Crouser">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Kurs qo'shish</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
            </div>
            <div class="container">
              <form action="/Gruop" method="POST" enctype="multipart/form-data" class="form">
                  
                <h3 class="form-heading">Kurs qo'shish</h3>
                <div class="form-file">
                    <input type="file" id="file" name="file"required >
                    <label for="file" name="file"><img src="https://crm-najot.herokuapp.com/image/Camera-file.svg" width="58" height="55" alt=""></label>
                <p class="form-file-padding">Guruh rasmni qo'shish</p>
                </div>
                <div class="form-top">
                  <div class="form-top-inputs">
                    <p class="form-top-inputs-padding">Guruh nomi</p>
                    <input class="form-top-input"  name="GroupName" placeholder="Guruh nomini kiriting" required type="text">
                  </div>
                  <div class="form-top-inputs">
                    <p class="form-top-inputs-padding" >Kurs Ochilgan vaqti</p>
                    <input class="form-top-input" name="gruopDate" placeholder="Kurs haqida ma'lumot kiriting" required type="date">
                  </div>
                </div>
                <div class="form-top">


                  <div class="form-top-inputs">
                    <p class="form-top-inputs-padding">Kasb  yo'nalishi tanlash</p>
                    <div class="form-top-inputr">
                      <select class="form-top-input form-top-input-user" name="KursName"  placeholder="Kasb  yo'nalishi" required type="text">
                          <% CourserFilter.map( elem => { %> 
                    
                            <option class="form-top-select" value=<%= elem.course %>><%= elem.course%></option>
                            <% }) %> 
                        </select>
                    </div>
                 
                  </div>
                    <div class="form-top-inputs">
                        <p class="form-top-inputs-padding" >O'qituvchini tanlash</p>
                        <select class="form-top-input form-top-input-teacher" name="TeacherName"  placeholder="O'qituvchini tanlash" required type="text">
                          
                        </select>
                  </div>
                </div>

                <button class="form-button">Kursni qo'shish</button>
              </form>
            </div>
      

                <div class="card-Crouser">
                        <div class="card-Crouser-about">
                            <h3 class="card-Crouser-about-heading">Guruh Yaratish</h3>
                            <button class="card-Crouser-about-button"><h2 class="card-Crouser-about-button-span">+</h2> Guruh qo'shish</button>
                        </div>
                        <hr class="headring">
                </div>
                <div class="teachers">
                    <ul class="teacher-list-static">
                      <li class="teacher-list-item-static">
                    
                        <p class="teacher-list-item-static-padding"><span class="teacher-list-item-static-padding">No</span> <span class="teacher-list-item-static-padding">Guruh rasmi </span> Guruh nomi</p>
                        <p class="teacher-list-item-static-padding">Guruh Yo'nalishi</p>
                        <p class="teacher-list-item-static-padding">Guruh O'qituvchisi</p>
                        <p class="teacher-list-item-static-padding">Guruh Ochilgan vaqti</p>
                      </li>
                    </ul>
                    <ul class="teachers-list">
                        <% GruopFilter.map( elem =>{ %> 
                            
                            <li class="teacher-list-item">
                                <div class="image-name">
                                    <p class="teacher-list-item-padding"><%= elem.id %> </p>
                        
                                    <img class="teacher-list-item-avatar" src=<%= elem.AvatarUser %> width="50" height="50" alt="">
                                
                                    <p class="teacher-list-item-padding"><%= elem.GroupName %></p>
                                  </div>
                                <p class="teacher-list-item-padding"><%= elem.KursName %> </p>
                                <p class="teacher-list-item-padding"><%= elem.TeacherName %></p>
                                <p class="teacher-list-item-padding"><%= elem.gruopDate  %> </p>
                                
                            </li>
                            <% }) %> 
                    </ul>
                </div>
        </div>
        <div
        class="overlay"></div>
          </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="group.js"></script>
</body>

</html>